.text-nosotros {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "titulo-nosotros  titulo-nosotros titulo-nosotros titulo-nosotros"
    "text-nosotros text-nosotros text-nosotros text-nosotros";
}
.titulo-nosotros {
  grid-area: titulo-nosotros;

  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: space-around;
}
.card-nosotros{
    margin: 50px;
}